<script>
  // fixed navbar
  const header = document.querySelector("#fixed-nav");
  const fixedNav = header.offsetTop;

  if (window.scrollY > fixedNav) {
    header.classList.add(["shadow-lg"]);
  }

  window.onscroll = function () {
    const header = document.querySelector("#fixed-nav");
    const fixedNav = header.offsetTop;

    if (window.scrollY > fixedNav) {
      header.classList.add(["shadow-lg"]);
    } else {
      header.classList.remove(["shadow-lg"]);
    }
  };

  // contact link (scroll to footer)
  $("ul.menu > li:last-child").click(function () {
    document.getElementById("footer").scrollIntoView();
  });

  // theme switcher
  // if (
  //   window.matchMedia &&
  //   window.matchMedia("(prefers-color-scheme: dark)").matches
  // ) {
  //   // dark mode
  //   $("#dark-mode-toggle").prop("checked", true);
  // }

  // window
  //   .matchMedia("(prefers-color-scheme: dark)")
  //   .addEventListener("change", (event) => {
  //     var themeValue = event.matches ? "dark" : "light";

  //     if (themeValue == "dark") {
  //       $("#dark-mode-toggle").prop("checked", true);
  //     } else if (themeValue == "light") {
  //       $("#dark-mode-toggle").prop("checked", false);
  //     }
  //   });

  var theme = localStorage.getItem("theme");

  if (theme == "dark") {
    $("html").attr("data-theme", "dark");
    $("#dark-mode-toggle").prop("checked", true);
  } else {
    $("html").attr("data-theme", "light");
    $("#dark-mode-toggle").prop("checked", false);
  }

  // theme switcher
  $("#dark-mode-toggle").click(function () {
    if (theme == "dark") {
      localStorage.setItem("theme", "light");
      $("html").attr("data-theme", "light");
    } else {
      localStorage.setItem("theme", "dark");
      $("html").attr("data-theme", "dark");
    }
  });
</script>
