<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' }}" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>

  <body>
    <!-- Navbar -->
    {% include navbar.html %}
    <!-- Navbar end -->

    {{ content }}

    <!-- Footer -->
    {% include footer.html %}
    <!-- Footer end -->

    {% include script.html %}
  </body>
</html>
